@inject ImageHelper Image
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
    <meta name="robots" content="noindex" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <base href="/" />
</head>
<body>
    <div id="wrapper">
        <div class="topstrip">
            <ul class="top-left">
                <li>3rd Avneue, San Franciso</li>
                <li>Monday - Fri : 8AM to 7PM</li>
                <li>+91-00-00-00-00</li>
            </ul>
            <ul class="social-icons">
                <li><a href="#"><img src="images/ico-facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="images/ico-linkedin.svg" alt="linkedin"></a></li>
                <li><a href="#"><img src="images/ico-instagram.svg" alt="instagram"></a></li>
                <li><a href="#"><img src="images/ico-twitter.svg" alt="twitter"></a></li>
            </ul>
        </div>
        <header id="site-header">
            <div class="wrap-fuild header__wrap">
                <div class="site-title">
                    <a href="index.html" rel="home">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <nav class="header__menu">
                    <ul>
                        <li class="current"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("Index","Product")">Products</a></li>
                        <li><a asp-controller="brand" asp-action="index">Brands</a></li>
                    </ul>
                </nav>
                <partial name="_LoginPartial" />
                @*<ul class="menu__right">
                        <li class="search-ico"><a href="#"><img src="images/ico-search.svg" alt="search"></a></li>
                        <li><a class="btn btn--white" href="javascript:void(0);">Log In</a></li>
                        <li><a class="btn btn--blue btn--sm" href="javascript:void(0);">Sign Up - Free</a></li>
                    </ul>*@
            </div>
        </header>
        <main id="site-main">
            @RenderBody()
        </main>
        <partial name="_Footer" />
    </div>
    <div id="modalid" class="modal-container">
        <div class="modal gradient-bg ">
            <a href="javascript:void(0)" id="close" data-close="true"></a>
            <div class="modal-wrap text-center">
                <h2 class="mb-80">You need to have an account to  view this content.</h2>
                <h2 class="mb-50">Don’t have an account yet?</h2>
                <form action="#">
                    <div class="form-group mb-80">
                        <input type="submit" value="Sign Up - It’s Free!" class="btn btn--blue btn--full-width">
                    </div>
                </form>

                <h2 class="mb-40 mt-50">Have an account already?</h2>
                <form action="#">
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn new btn--full-width">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modalshare" class="modal-container">
        <img src="">
        <div class="modal gradient-bg ">
            <a href="javascript:void(0)" id="close" data-close="true"></a>
            <div class="modal-wrap text-center">
                <h2 class="mb-40">Logitech M235 Wireless Mouse</h2>
                <h2 class="mb-30">John Doe Infosys</h2>
                <ul class="modal-link text-center mb-30">
                    <li>+91-00-00-000</li>
                    <li>johndoe@gmail.com</li>
                </ul>
                <div class="text-center">
                    <img src="~/images/creative.svg">
                </div>
                <h2 class="mb-40 mt-50">Share via</h2>
                <ul class="social-icons">
                    <li><a href="#"><img src="~/images/whatsapp-icn.svg" alt="whatsapp"></a></li>
                    <li><a href="#"><img src="~/images/facebook-icn.svg" alt="facebook"></a></li>
                    <li><a href="#"><img src="~/images/instagram-icn.svg" alt="instagram"></a></li>
                    <li><a href="#"><img src="~/images/gmail-icn.svg" alt="gmail"></a></li>
                    <li><a href="#"><img src="~/images/twitter-icn.svg" alt="twitter"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="~/js/vendors.bundle.js"></script>
    <script src="~/js/scripts.bundle.js"></script>
    <script src="~/appjs/b2b.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
